p {
    width: 500px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.name {
    font-weight: bold;
}

.headrow {
    color: white;
    background-color: grey;
}

.evenrow {
    background-color: yellowgreen;
}

.oddrow {
    background-color: green;
}