{% extends 'base.html' %}

{% block titel %}
    Jinja-voorbeeld 1
{% endblock %}

{% block content %}
    <h2>Deze pagina is gemaakt met Jinja</h2>
    <p>Het cijfer is {{cijfer}}</p>
    <p>Je naam is <strong>{{naam}}</strong></p>
    <p>De lijst:</p>
    <ul>
        {% for item in lijst %}
            {% if item == 2 %}
                <li><strong>{{item}}</strong></li>
            {% else %}
                <li>{{item}}</li>
            {% endif %}
        {% endfor %}
    </ul>

    {% for key,value in dict.items() %}
        <p>{{key}} = {{value}}</p>
    {% endfor %}

    <!-- Twee manieren om een knop met een link te maken -->
    <!-- 1: a gestyled als button -->
    <p>
        <a href="/" class="btn btn-primary">Terug naar Home</a>
    </p>
    <!-- 2: button met javascript -->
    <button onclick="window.location.href='/example2';">
      Klik hier om naar de tweede voorbeeldpagina te gaan
    </button>
{% endblock %}